<!DOCTYPE html>
<html>
<head>
	<div th:replace="../fragments/stylesheets :: sheets"></div>
</head>
<body>
	<nav th:replace="../fragments/nav :: nav"></nav>
	<nav th:replace="../fragments/error :: error"></nav>

    <h1>New product listing</h1>
    <form method="post" action="/products/new">
    	<label>Title</label><br/>
		<input type="text" name="title" required="required" /><br/>
		
		<label>Description</label><br/>
		<textarea rows="4" cols="50" name="description" required="required"></textarea><br/>
		
		<label>Category</label><br/>
		<select name="category">
   			<option value="BEDROOM">Bedroom</option>
   			<option value="KITCHEN">Kitchen</option>
   			<option value="OFFICE">Office</option>
   			<option value="BATHROOM">Bathroom</option>
   			<option value="OTHER">other</option>
		</select>
		
		<label>Price</label><br />
		<input type="number" name="price" required="required" /><br/>
		
		<input type="submit" />
    </form>
</body>
</html>