<!DOCTYPE html>
<html>
<head>
	<div th:replace="../fragments/stylesheets :: sheets"></div>
</head>
<body>
	<nav th:replace="../fragments/nav :: nav"></nav>
	<h1 th:text="${product.title}">Product title</h1>
	
	<div class="text-align-center-wrapper">
		<div class="inline-block-wrapper">
			<strong>Description: </strong><span th:text="${product.description}"></span><br/>
			<strong>Category: </strong><span th:text="${product.category}"></span><br/>
			<strong>Availability: </strong><span th:text="${product.availability}"></span><br/>
			<strong>Price: </strong><span th:text="${product.price}"></span><br/>
			<span th:if="${session.user.userID == product.userID or session.user.isAdmin()}">
				<a th:href="@{/users/{userID}/products/{productID}/edit(userID=${product.userID}, productID=${product.productID})}">Edit product listing</a><br/>
				<a th:href="@{/users/{userID}/products/{productID}/delete(userID=${product.userID}, productID=${product.productID})}" onclick="return confirmDelete()">Delete product listing</a>	
			</span>
		</div>
	</div>
	
	<script>
		function confirmDelete() {
			return confirm("Are you sure you want to delete your account?");
		}
	</script>
</body>
</html>