<nav th:fragment="nav">
	<ul>
		<li th:if="${session.user == null}">
			<a href="/users/login">Log in</a>
		</li>
		
		<li th:if="${session.user == null}">
			<a href="/users/new">Sign up</a>
		</li>
		
		<li th:if="${session.user != null &amp;&amp; session.user.isAdmin()}">
			<a href="/users/index">All users</a>
		</li>
		
		<li th:if="${session.user != null}">
			<a th:href="@{/users/{id}(id=${session.user.userID})}">View profile</a>
		</li>
		
		<li th:if="${session.user != null}">
			<a href="/users/logout">Log out</a>
		</li>
	</ul>
</nav>