<!DOCTYPE html>
<html>
<head>
	<div th:replace="../fragments/stylesheets :: sheets"></div>
</head>
<body>
	<nav th:replace="../fragments/nav :: nav"></nav>
	<nav th:replace="../fragments/error :: error"></nav>

    <h1>Log in</h1>
    <div class="text-align-center-wrapper">
    	<form method="post" action="/users/login" class="inline-block-wrapper">
    	Email<br/>
		<input name="email" type="email"/><br/>
		Password<br/>
		<input name="password" type="password"/><br/>
		<input type="submit" value="Log in"/>
    </form>
    </div>
</body>
</html>