<!DOCTYPE html>
<html>
<body>
	<nav th:replace="../fragments/nav :: nav"></nav>
	<h1 th:text="${session.user.forename + ' ' + session.user.surname}">User's name</h1>
	
	<h3>Your details</h3>
	<label><strong>Email</strong></label><br/>
	<div th:text="${session.user.email}"></div>
	<label><strong>Forename</strong></label><br/>
	<div th:text="${session.user.forename}"></div>
	<label><strong>Surname</strong></label><br/>
	<div th:text="${session.user.surname}"></div>
	<label><strong>City of residence</strong></label><br/>
	<div th:text="${session.user.city}"></div>
	<a th:href="@{/user/{id}/delete(id=${session.user.userID})}" onclick="return confirmDelete()">Delete account</a>
	
	<script>
		function confirmDelete() {
			return confirm("Are you sure you want to delete your account?");
		}
	</script>
</body>
</html>